*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.Rhistory filter=lfs diff=lfs merge=lfs -text
*.pper filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/rmd-outputs filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/saved_source_markers filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/566096D0 filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/56F07881 filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/7A520DCE filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/7F954A45 filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/C009EFD3 filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/EBC920DC filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/FBB167E5/sources/prop/INDEX filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/shared/notebooks/patch-chunk-names filter=lfs diff=lfs merge=lfs -text
/.Rproj.user/shared/notebooks/paths filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.prj filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.Rproj filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
